@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  justify-content: space-between;
  padding: 30px 100px;
  font-family: "Inter", sans-serif;
}

.main-cards_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overview-cards_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header_h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.header_caption {
  font-size: 14px;
  font-weight: 700;
  color: #646778;
}

.main-content {
  flex-grow: 1;
}

.footer {
  font-size: 11px;
  text-align: center;
  justify-self: flex-end;
}

.main-card,
.overview-card {
  background-color: #f0f3fa;
  padding: 20px;
  border-radius: 7px;
  cursor: pointer;
  width: 300px;
}

.main-card:hover,
.overview-card:hover {
  background-color: #e1e3f0;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.overview-card {
  margin-bottom: 15px;
}

.main-card_username-container {
  display: flex;
  align-items: center;
}

.main-card_username {
  margin-left: 10px;
  font-weight: 400;
  color: #646778;
}

.main-card_followers-count {
  font-size: 60px;
  margin-top: 15px;
  font-weight: 700;
}

.main-card_followers-count-caption {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #646778;
}

.main-card_followers-today-count-container {
  margin-top: 10px;
  font-weight: 400;
}

.main-card_followers-today-count {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
}

.main-card_followers-today-count--up {
  color: #33a989;
}

.main-card_followers-today-count--down {
  color: #cc4353;
}

.main-card-facebook {
  border-top: 4px solid hsl(195, 100%, 50%);
}

.main-card-twitter {
  border-top: 4px solid hsl(203, 89%, 53%);
}

.main-card-instagram {
  border-top: 4px solid;
  border-image-source: linear-gradient(45deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  border-image-slice: 1;
  border-radius: 7px;
}

.main-card-youtube {
  border-top: 4px solid hsl(348, 97%, 39%);
}

.overview-container_header {
  margin: 30px 0px;
  font-size: 20px;
  font-weight: 700;
  color: #646778;
}

.overview-card-header,
.overview-card-view-count-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview-card-header {
  margin-bottom: 20px;
  font-weight: 400;
  color: #646778;
}

.overview-card-view-count {
  font-size: 30px;
  font-weight: 700;
}

.overview-card-view_count-percent-container {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.overview-card-view_count-percent-container--up {
  color: #33a989;
}

.overview-card-view_count-percent-container--down {
  color: #cc4353;
}

.overview-card-view_count-percent-text {
  margin-left: 5px;
}

.theme-switcher {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-switcher__text {
  font-weight: 700;
  color: #646778;
  font-size: 16px;
  margin-right: 15px;
}

.toggle-button-container {
  display: inline-block;
  width: 50px;
  height: 25px;
  position: relative;
}

.toggle-button {
  visibility: hidden;
  width: 0;
  height: 0;
}

.toggle-button_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aeb3c9;
  border-radius: 34px;
  transition: all 0.3s ease-in-out;
}

.toggle-button_slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  left: 2px;
  top: 2.25px;
  transition: all 0.5s ease-in-out;
}

.toggle-button:checked + .toggle-button_slider {
  background-color: #3dd393;
}

.toggle-button:checked + .toggle-button_slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media screen and (max-width: 960px) {
  .main-cards_container {
    flex-direction: column;
    align-items: center;
  }
  body {
    padding: 30px 20px;
  }
  .header {
    display: initial;
  }
  .header_title {
    border-bottom: 1px solid #898c9b;
    padding-bottom: 20px;
  }
}
